/*
 * UN AKN styles
 */

.akoma-ntoso.country-un {
  .akn-authorialNote {
    display: flex;
    font-size: small;
    margin-top: 0.5em;

  & > .akn-authorialNote--marker {
      margin-right: 0.5em;
    }
  }
}
