@mixin blocks {
  @each $elem in $akn-elements-block {
    .akn-#{$elem} {
      display: block;
    }
  }

  .akn-p {
    display: block;
  }

  .akn-preface,
  .akn-preamble {
    margin-bottom: $akn-section-spacing;

    &> .akn-p {
      margin-bottom: $akn-para-spacing;
    }
  }

  .akn-listIntroduction,
  .akn-p {
    display: block;
    margin-bottom: $akn-para-spacing;
  }

  /* blocklists */
  .akn-blockList {
    &> .akn-item {
      margin-left: $akn-para-indent;
      margin-bottom: $akn-para-spacing;

      > .akn-num {
        display: block;
        float: left;
        margin-left: -$akn-para-indent;
        margin-right: 0.25em;
      }
    }
  }

  /* bulleted lists */
  .akn-ul {
    list-style-type: disc;
    list-style-position: outside;
    padding-left: $akn-para-indent;
    margin-bottom: $akn-para-spacing;
  }

  .akn-li {
    display: list-item;
    margin-bottom: $akn-para-spacing;
  }
}
