@mixin inlines {
  .akn-def {
    font-weight: bold;
  }

  .akn-longTitle {
    display: block;
    font-weight: bold;
    margin-bottom: $akn-para-spacing;
  }

  .akn-remark {
    font-style: italic;
  }

  img {
    max-width: 100%;
  }
}
