@mixin inlines {
  .akn-def {
    font-weight: bold;
  }

  .akn-longTitle {
    display: block;
    font-weight: bold;
    margin-bottom: $akn-para-spacing;
  }

  .akn-remark {
    font-style: italic;
  }

  img {
    max-width: 100%;
  }

  /* footnotes */
  .akn-authorialNote {
    display: flex;
    font-size: small;
    margin-top: $akn-para-spacing;
    margin-bottom: $akn-section-spacing;

    & > .akn-authorialNote--marker {
      margin-right: $akn-para-indent / 2;
    }
  }
  .akn-authorialNote + .akn-authorialNote {
    margin-top: -$akn-section-spacing;
  }

  /* quotes */
  .akn-embeddedStructure {
    display: block;
    margin-left: $akn-quote-indent;

    &[data-startQuote]::before {
      content: attr(data-startQuote);
      margin-left: -0.5em;
      float: left;
    }
  }
}
