@mixin tradition-ke {
  /*
   * Kenya (KE) AKN styles
   */

  // crossheadings, remarks and editorial comments aren't italicised
  .akn-remark,
  .akn-crossHeading {
    font-style: normal;
  }

  .coverpage {
    .amendment,
    .verification-notice,
    .as-at-date-notice {
      font-style: normal;
    }
  }

  // Single-line remarks must be centered.
  .akn-listIntroduction > .akn-remark:only-child,
  .akn-p > .akn-remark:only-child {
    display: block;
    margin-top: $akn-para-spacing;
    text-align: center;
  }

  // judgments
  &[frbr-type="judgment"] {
    @include tradition-ke-judgment;
  }
}

@mixin tradition-ke-judgment {
  .akn-division,
  .akn-paragraph {
    .akn-heading {
      text-align: start;
      font-size: $akn-font-size;
      line-height: $akn-line-height;
    }
  }

  .akn-heading,
  .akn-subheading {
    margin-bottom: $akn-para-spacing;
  }

  // justify all 'body' text in the main judgment and attachments
  .akn-judgmentBody, .akn-attachments {
    .akn-p {
      text-align: justify;
    }
  }

  .akn-remark,
  .akn-ref,
  .akn-term {
    font-style: italic;
  }

  // emphasis
  em {
    font-style: normal;
    text-decoration: underline;
  }

  // turn off table borders
  table {
    border-width: 0px;

    th,
    td {
      border-left-width: 0px;
      border-top-width: 0px;
    }

    tbody + tbody {
      border-top-width: 0px;
    }
  }
}
